body {
  margin: 0;
  padding: 0;
}

section {
  background-image: url("./image/shopping.jpg");
  background-size: cover;
  height: 100vh;
}

main {
  height: 100%;
  background-image: linear-gradient(
    to top,
    rgba(238, 233, 233, 0.7) 10%,
    rgba(0, 0, 0, 0.3) 60%,
    rgba(111, 107, 107, 0.8) 80%
  );
}
.main {
  width: 74%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  font-size: 40px;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  text-align: center;
  padding: 20px 20px;
  color: white;
}
.main > form {
  height: 33rem;
  width: 40%;
  text-align: center;
  padding-top: 20px;
  /* background: linear-gradient(
    229deg,
    rgba(40, 40, 40, 0.3) 0%,
    rgba(0, 0, 0, 0.19) 100%
  ); */
  border-radius: 20px;
  box-shadow: rgba(255, 255, 255, 0.612) 12px 12px;
  font-family: Arial, sans-serif;
  background-color: rgba(9, 9, 17, 0.356);
}

input {
  width: 60%;
  height: 30px;
  background-color: rgb(241, 241, 241);
}

form > label {
  color: wheat;
}
span {
  color: rgb(205, 0, 0);
}

input {
  padding-left: 5px;
  border-radius: 6px;
}

button {
  background-color: #02774c;
  color: rgb(247, 247, 247);
  width: 40%;
  height: 40px;
  border-radius: 9px;
}

.btn > h6 {
  font-size: small;
  margin: 10px;
}
h6 > a {
  color: black;
}

h6 > a:hover {
  color: rgb(153, 21, 26);
}
